@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
}

.terms-link {
    border-bottom: solid 2px #0000EE;
    color: #0000EE;
}

.terms-list {
    list-style-type: disc;
}

.dashedList {
    margin-left: 15px;
}